# Laravel
backend/.env
backend/.env.*
!backend/.env.example
backend/vendor/

# Next.js
frontend/.env.local
frontend/.env.*.local
frontend/node_modules/
frontend/.next/

# Logs
*.log

# OS
.DS_Store
Thumbs.db
